<div class="events-container">

  <div class="container-name">Kalendár organizátora</div>
  <button class="create-event-button" (click)="openCreateEventDialog()">Vytvoriť udalosť</button>
</div>






<div class="organizer-calendar-container">
  <div class="my-events">
    <h3>Vaše podujatia</h3>
    <ul>
      <li *ngFor="let e of allEvents">
        <div *ngIf="canEdit(e)" class="event-item">
          <span class="event-title"><strong>My:</strong> {{ e.title }}</span>
          <span class="event-status" [ngClass]="{'approved': e.isApproved}">
            {{ e.isApproved ? 'Schválené' : 'Čaká na schválenie' }}
          </span>
          <button (click)="editEvent(e)">Edit</button>
        </div>
      </li>
    </ul>
  </div>

  <hr class="event-separator">

  <div class="all-events">
    <h3>Všetky podujatia</h3>
    <ul>
      <li *ngFor="let e of allEvents" class="event-item">
        <span class="event-title">
          <strong *ngIf="canEdit(e)">My: </strong>{{ e.title }}
        </span>
        <span class="event-datetime">
          {{ e.startDateTime | date:'d.M.yyyy HH:mm' }} - {{ e.endDateTime | date:'d.M.yyyy HH:mm' }}
        </span>
        <span class="event-status" [ngClass]="{'approved': e.isApproved}">
          {{ e.isApproved ? 'Schváelné' : 'Čaká na schválenie' }}
        </span>
      </li>
    </ul>
  </div>
</div>


