# See http://help.github.com/ignore-files/ for more about ignoring files.

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node
/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# System files
.DS_Store
Thumbs.db
/.vs/hackaton/v17
/.vs/hackaton/FileContentIndex
/src/environments
/.vs/hackaton3/CopilotIndices/17.13.431.34963
/.vs/hackaton3/FileContentIndex
/.vs/hackaton3/v17
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
/.vs/slnx.sqlite-journal
/.firebase/hacketon-11701/hosting/assets
/.firebase/hacketon-11701/hosting
/.vs/hackaton3/config
/src/enviroment
/.firebase
