<!-- src/app/events/event-create/event-create.component.html -->
<div class="event-create-container">
  <h2>Create Event (Single language)</h2>
  <form (ngSubmit)="createEvent()">
    <div>
      <label>Title:</label>
      <input [(ngModel)]="newEvent.title" name="title">
    </div>
    <div>
      <label>Description:</label>
      <textarea [(ngModel)]="newEvent.description" name="desc"></textarea>
    </div>
    <div>
      <label>Start:</label>
      <input type="datetime-local" [(ngModel)]="newEvent.startDateTime" name="startDt">
    </div>
    <div>
      <label>End:</label>
      <input type="datetime-local" [(ngModel)]="newEvent.endDateTime" name="endDt">
    </div>
    <div>
      <label>Price:</label>
      <input type="number" [(ngModel)]="newEvent.price" name="price">
    </div>
    <button type="submit">Create</button>
  </form>
</div>
