<div class="events-container">
  <div class="container-name">Prehľad podujatí</div>
  <input class="search" type="text" placeholder="Nájsť podujatie.." [(ngModel)]="searchQuery" (ngModelChange)="filterEvents()">
</div>

<div class="events-list-container">
  <div class="events-list-list">
    <ul class="event-unordered-list">


      <li *ngFor="let e of filteredEvents" class="event-card" (click)="goToEvent(e.id!)">
        <div class="event-card-header">
          <h3 class="event-title">{{ e.title }}</h3>
          <span class="event-date">
            {{ e.startDateTime | date: 'dd/MM/yyyy hh:mm'}} - {{ e.endDateTime | date: 'dd/MM/yyyy hh:mm'}}
          </span>
        </div>

        <p *ngIf="e.description" class="event-description">{{ e.description }}</p>

        <div class="event-details">
          <p *ngIf="e.price && e.price > 0" class="event-price">Cena: {{ e.price }} €</p>
        </div>

        <div class="event-actions">
          <a [href]="getGoogleCalendarUrl(e)" target="_blank" class="calendar-button" (click)="$event.stopPropagation()">
            <svg class="calendar-icon" xmlns="http://www.w3.org/2000/svg" aria-label="Google Calendar" role="img" viewBox="0 0 512 512">
              <rect width="512" height="512" rx="15%" fill="#ffffff" />
              <path d="M100 340h74V174H340v-74H137Q100 100 100 135" fill="#4285f4" />
              <path d="M338 100v76h74v-41q0-35-35-35" fill="#1967d2" />
              <path d="M338 174h74V338h-74" fill="#fbbc04" />
              <path d="M100 338v39q0 35 35 35h41v-74" fill="#188038" />
              <path d="M174 338H338v74H174" fill="#34a853" />
              <path d="M338 412v-74h74" fill="#ea4335" />
              <path d="M204 229a25 22 1 1 1 25 27h-9h9a25 22 1 1 1-25 27M270 231l27-19h4v-7V308" stroke="#4285f4" stroke-width="15" stroke-linejoin="bevel" fill="none" />
            </svg>
            Pridať do Kalendára
          </a>

          <button class="like-button" (click)="likeEvent(e.id!); $event.stopPropagation()">
            <svg class="heart-icon" viewBox="0 0 471.701 471.701" xmlns="http://www.w3.org/2000/svg">
              <path d="M433.601,67.001c-24.7-24.7-57.4-38.2-92.3-38.2s-67.7,13.6-92.4,38.3l-12.9,12.9l-13.1-13.1
          c-24.7-24.7-57.6-38.4-92.5-38.4c-34.8,0-67.6,13.6-92.2,38.2c-24.7,24.7-38.3,57.5-38.2,92.4c0,34.9,13.7,67.6,38.4,92.3
          l187.8,187.8c2.6,2.6,6.1,4,9.5,4c3.4,0,6.9-1.3,9.5-3.9l188.2-187.5c24.7-24.7,38.3-57.5,38.3-92.4
          C471.801,124.501,458.301,91.701,433.601,67.001z M414.401,232.701l-178.7,178l-178.3-178.3c-19.6-19.6-30.4-45.6-30.4-73.3
          s10.7-53.7,30.3-73.2c19.5-19.5,45.5-30.3,73.1-30.3c27.7,0,53.8,10.8,73.4,30.4l22.6,22.6c5.3,5.3,13.8,5.3,19.1,0l22.4-22.4
          c19.6-19.6,45.7-30.4,73.3-30.4c27.6,0,53.6,10.8,73.2,30.3c19.6,19.6,30.3,45.6,30.3,73.3
          C444.801,187.101,434.001,213.101,414.401,232.701z" />
            </svg>
            {{ userLikes[e.id!] ? 'Zrušiť záujem' : 'Mám záujem' }}
          </button>
          <span class="like-count">{{ getLikesCount(e.id!) }} Majú záujem</span>
        </div>
      </li>


    </ul>
  </div>
</div>
