/* src/app/events/events-list/events-list.component.css */
.events-list-container {
  max-width: 800px;
  margin: 1rem auto;
}

.event-card {
  border: 1px solid #ccc;
  margin-bottom: 0.5rem;
  padding: 0.5rem;
}
