.main-container {
    margin: 2vw 3vw 0vw 3vw;
    padding: 0;
    font-family: Poppins-Regular;
}

.profile-container {
    border-radius: 2vw;
    background-color: #dbdbdb;
    padding: 2vw;
}

.buttonsprofile {
    margin-left: auto;
    justify-content: flex-end;
}

.settingsbutton {
    width: 2vw;
    height: 2vw;
}

.name {
  width: auto;
  height: auto;
  display: inline-flex;
  font-size: 2vw;
  align-items: center;
}

.pfp {
    width: 10vw;
    height: 10vw;
    border-radius: 100%
}



.idbutton {
    padding: 0.5vw 1vw 0.5vw 1vw;
    border-color: var(--rustyred);
    border-style: solid;
    border-width: 0.2vw;
    border-radius: 15vw;
    cursor: pointer;
}
