.main-container {
    margin: 2vw 3vw 0vw 3vw;
    padding: 0;
    font-family: Poppins-Regular;
}

.profile-container {
    border-radius: 2vw;
    background-color: #dbdbdb;
    padding: 2vw;
}

.buttonsprofile {
    margin-top: 2vw;
}

.settingsbutton {
    width: 2vw;
    height: 2vw;
}

.name {
  width: auto;
  height: 2vw;
  display: inline-flex;
  font-size: 2vw;
  align-items: center;
}

.pfp {
    width: 10vw;
    height: 10vw;
    border-radius: 100%
}

.rolebox {
    margin: 0;
    font-size: 1vw;
    color: #808080;
}

.user-role-red {
    margin: 0;
}


.idbutton {
    text-decoration:none;
    color: var(--rustyred);
    padding: 0.5vw 1vw 0.5vw 1vw;
    border-color: var(--rustyred);
    border-style: solid;
    border-width: 0.2vw;
    border-radius: 15vw;
    cursor: pointer;
}

.idbutton:hover {
  background-color: var(--rustyred);
  color: white;
}
