<div class="main-container">
  <!-- Profilová sekcia -->
  <div class="profile-container">
    <div class="profileback">


      <!-- Zobrazenie informácií o používateľovi -->
      <div class="row" *ngIf="authService.userData as user">
          <div class="media">
            <div class="pfpbox">
              <!--                   [src]="user.photoURL ? user.photoURL : 'photoURL'"-->
              <img class="pfp"
                   [alt]="user.displayName ? user.displayName : 'User'"
                   src='../assets/testimg.jpg'>
            </div>
            <div class="name">
              <p class="username">{{ user.displayName ? user.displayName : 'User' }}</p>
              <div (click)="toggleSettings()" style="cursor: pointer; margin-left: 1vw;">
                <svg fill="black" width="1vw" height="1vw" viewBox="0 0 16 16" id="edit-2-16px" xmlns="http://www.w3.org/2000/svg">
                  <path id="Path_120" data-name="Path 120" d="M-10.5,16h-11A2.5,2.5,0,0,1-24,13.5V2.5A2.5,2.5,0,0,1-21.5,0h4a.5.5,0,0,1,.5.5.5.5,0,0,1-.5.5h-4A1.5,1.5,0,0,0-23,2.5v11A1.5,1.5,0,0,0-21.5,15h11A1.5,1.5,0,0,0-9,13.5v-4A.5.5,0,0,1-8.5,9a.5.5,0,0,1,.5.5v4A2.5,2.5,0,0,1-10.5,16Zm-5.646-4.146,8-8a.5.5,0,0,0,0-.708l-3-3a.5.5,0,0,0-.708,0l-8,8A.5.5,0,0,0-20,8.5v3a.5.5,0,0,0,.5.5h3A.5.5,0,0,0-16.146,11.854ZM-19,8.707l7.5-7.5L-9.207,3.5l-7.5,7.5H-19Z" transform="translate(24 0)" />
                </svg>
              </div>
            </div>
            <div class="rolebox">
              <div *ngIf="userRole$ | async as userRole" class="role">
                <div class="roleborder">
                  <p class="
                    {{ userRole === 'admin' ? 'user-role-blue' : '' }}
                    {{ userRole === 'user' ? 'user-role-red' : '' }}">
                    {{ userRole }}
                  </p>
                </div>
              </div>
              <div class="buttonsprofile">
                <!-- Link pre admina -->
                <a class="idbutton" *ngIf="(userRole$ | async) === 'admin'" routerLink="/admin">
                  <span>Správa podujatí</span>
                </a>
              </div>
            </div>
          </div>
        <div class="profileinfo">
          <p>Email: <strong>{{ user.email }}</strong></p>
          <p>
            Overený Email:
            @if (user.emailVerified) {
            <strong class="email+">ÁNO</strong>
            }

            @else {
            <strong class="email-">NIE</strong>
            }
</div>
      </div>
    </div>
  </div>

  <!-- Nastavenia profilu -->
  <div *ngIf="showSettings" class="settings-container">
    <div class="settings-content">
      <form [formGroup]="profileForm">
        <div class="form-group">
          <label for="displayName">Display Name:</label>
        </div>
        <input type="text" class="form-control" id="displayName" formControlName="displayName" style="color: black;">
      </form>

      <div *ngIf="authService.userData as user" class="pfpboxx"
           (drop)="onFileDropped($event)"
           (dragover)="preventDefault($event)"
           (dragleave)="preventDefault($event)">

        <img class="pfpxx"
             [src]="user.photoURL ? user.photoURL : 'photoURL'"
             [alt]="user.displayName ? user.displayName : 'User'">
      </div>
      <button type="button" class="btn btn-primary" (click)="editProfile()">Save Changes</button>
      <input type="file" (change)="onFileSelected($event)">
    </div>
  </div>

  <!-- Tlačidlo pre organizátorskú žiadosť -->
  <div class="organizer-request-button">
    <button (click)="openOrganizerRequestModal()">Staj sa organizatorom</button>
  </div>
  <!-- Modal pre organizátorskú žiadosť -->
  <div *ngIf="isOrganizerRequestModalOpen" class="modal">
    <div class="modal-content">
      <h3>Staj sa organizatorom</h3>
      <form (ngSubmit)="submitOrganizerRequest()">
        <label>
          Názov skupiny:
          <input type="text" [(ngModel)]="organizerRequestData.groupName" name="groupName" required>
        </label>
        <br>
        <label>
          Členovia:
          <input type="text" [(ngModel)]="organizerRequestData.members" name="members" required>
        </label>
        <br>
        <label>
          Kontakt:
          <input type="text" [(ngModel)]="organizerRequestData.contact" name="contact" required>
        </label>
        <br>
        <button type="submit">Odoslať žiadosť</button>
        <button type="button" (click)="closeOrganizerRequestModal()">Zatvoriť</button>
      </form>
    </div>
  </div>


</div>
