<nav class="navbar">

  <div class="navbar-logo">

    <svg version="1.1" xmlns="http://www.w3.org/2000/svg"
         viewBox="0 0 100 100"
     width="50" height="50"
     style="stroke: white; fill: none; stroke-width: 3;" >
  <defs>
    <polygon id="hexagon" points="95,50 72.5,89 27.5,89 5,50 27.5,11 72.5,11" />
  </defs>
  <use href="#hexagon" />

  <use href="#hexagon" transform="rotate(15 50 50)" />

</svg>


    <a href="#" class="logo-text">

      <span class="Galantaa">City</span>
      <span class="Eventss">Hive</span>
    </a>
  </div>


  <div class="navbar-links">
    <a href="#" class="nav-link active">Home</a> 
    <a href="/events" class="nav-link">Events</a>
    <a href="/Stan-Sa-Organizatorom" class="nav-link">For Organisers</a>
    <a href="#" class="nav-link mesto">Town</a>

    <a href="#" class="nav-link galakarta">--</a>

    <a class="nav-link" routerLink="/login" *ngIf="!isLoggedIn">Log in</a>
    <a class="nav-link" routerLink="/dashboard" *ngIf="isLoggedIn">Dashboard</a>
  </div>

  <div class="navbar-right-items">
    <div class="dropdown">
      <svg class="langsvg" version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
        <path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm-1 17.93c-3.95-.49-7-3.85-7-7.93 0-.62.08-1.21.21-1.79L8 12v1c0 1.1.9 2 2 2v2.93zm7.9-2.57c-.41.91-1.01 1.71-1.77 2.35L15 17v-1c0-1.1-.9-2-2-2v-2c0-.94-.64-1.73-1.5-1.95L8.05 8.21C8.5 6.99 9.62 6 11 6v1c0 1.1.9 2 2 2h2c.45 0 .85-.15 1.18-.4l2.4 2.4c.07.7.12 1.41.12 2.13 0 1.87-.59 3.58-1.6 4.97z" />
      </svg>
      <div class="dropdown-content">
        <a href="#">🇸🇰 SK</a>
        <a href="#">🇬🇧 UK</a>
      </div>
    </div>

    <div class="nav-logout" *ngIf="isLoggedIn && showLogout">
      <a (click)="signout()" title="Log out">
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" stroke="currentColor">
          <path d="M15 3h4a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2h-4 M10 17l5-5-5-5 M15 12H3" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
        </svg>
      </a>
    </div>

  </div>
  <div class="burger-menu navbar-toggle" aria-label="Toggle navigation">
    <div class="line line1"></div>
    <div class="line line2"></div>
    <div class="line line3"></div>
  </div>

  <script>
    document.addEventListener('DOMContentLoaded', function () {
      const burgerMenu = document.querySelector('.burger-menu');
      const navbarLinks = document.querySelector('.navbar-links');
      burgerMenu.addEventListener('click', () => {
        burgerMenu.classList.toggle('active');
        navbarLinks.classList.toggle('active');
      });
    });
  </script>

</nav>
