<div class="events-container">
  <div class="container-name">Staň sa organizátorom</div>
</div>

<!-- If the user is not logged in, show a login prompt -->
<div *ngIf="!loggedIn" class="login-message">
  <p>Pre pokračovanie sa prihláste.</p>
  <button (click)="router.navigate(['/login'])">Prihlásiť sa</button>
</div>

<!-- Display the organizer request form only if the user is logged in -->
<div class="stan-sa-organizatorom-container" *ngIf="loggedIn">
  <form [formGroup]="organizerForm" (ngSubmit)="submitRequest()">
    <div class="form-group">
      <label class="form-label" for="groupName">Názov skupiny:</label>
      <input id="groupName" formControlName="groupName" type="text" placeholder="Zadajte názov skupiny">
      <div *ngIf="organizerForm.get('groupName')?.invalid && organizerForm.get('groupName')?.touched" class="error">
        Pole je povinné.
      </div>
    </div>
    <div class="form-group">
      <label class="form-label" for="members">Členovia:</label>
      <input id="members" formControlName="members" type="text" placeholder="Zadajte meno a priezvisko členov (pr. Jožko Mrkvička, Tomáš Uhorka, ..)">
      <div *ngIf="organizerForm.get('members')?.invalid && organizerForm.get('members')?.touched" class="error">
        Pole je povinné.
      </div>
    </div>
    <div class="form-group">
      <label class="form-label" for="contact">Kontakt:</label>
      <input id="contact" formControlName="contact" type="text" placeholder="Zadajte kontakt (pr. telefónne číslo, email)">
      <div *ngIf="organizerForm.get('contact')?.invalid && organizerForm.get('contact')?.touched" class="error">
        Pole je povinné.
      </div>
    </div>
    <button type="submit" [disabled]="isSubmitting || organizerForm.invalid">Odoslať žiadosť</button>
  </form>
</div>
