* {
  font-family: Poppins-Regular;
}

.events-container {
  margin-top: 2vw;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.container-name {
  font-size: 2.2vw;
  color: var(--carbon);
  margin-bottom: 0.8vw;
  text-decoration: underline;
  text-decoration-color: var(--rustyred);
  text-decoration-thickness: 0.2vw;
}

.container-name:hover {
  color: var(--rustyred);
  text-decoration-color: var(--carbon);
  transition: color 0.2s ease, text-decoration-color 0.2s ease;
}

.stan-sa-organizatorom-container {
  max-width: 33vw;
  margin: 2vw auto;
  padding: 2vw;
  background-color: var(--snow);
  border-radius: 1vw;
  box-shadow: 0 0 0.8vw #3331;

  .form-group {
    margin-bottom: 1vw;

    label {
      font-size: 1vw;
      display: block;
      font-weight: bold;
      margin-bottom: 0.5vw;
      color: #555;
    }

    input {
      outline: none;
      width: 31.6vw;
      padding: 0.7vw;
      border: 0.1vw solid #ccc;
      border-radius: 0.6vw;
      font-size: 0.89vw;
    }

    input:focus {
      border: 0.2vw solid #ccc;
    }

    .error {
      color: #d9534f;
      font-size: 1vw;
      margin-top: 0.4vw;
    }
  }

  button {
    width: 100%;
    padding: 1vw;
    background-color: var(--rustyred);
    color: #fff;
    border: none;
    border-radius: 0.6vw;
    font-size: 1vw;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:disabled {
      background-color: #aaa;
      cursor: not-allowed;
    }

    &:hover:not(:disabled) {
      background-color: var(--darkrustyred);
    }
  }
}

/* Optional styling for the login message */
.login-message {
  text-align: center;
  margin: 2vw auto;

  p {
    font-size: 1.2vw;
    margin-bottom: 1vw;
  }

  button {
    padding: 0.8vw 1.5vw;
    font-size: 1vw;
    background-color: var(--rustyred);
    border: none;
    border-radius: 0.5vw;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: var(--darkrustyred);
    }
  }
}
