/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: Poppins-Regular;
  src: url('/assets/Poppins-Regular.ttf');
}
body {
  margin: 0;
  padding: 0;
}
* {
  --cardinalred: #C42847;
  --rustyred: #ca2736;
  --snow: #ececec;
  --darknav: #222222;
  --darkbody: #181818;
  --carbon: #2e2e2e;
}
