:host {
  display: block;
  max-width: 30vw;
  margin: 3vw auto;
  padding: 2vw;
  background-color: #fff;
  border: 0.1vw solid #2e2e2e;
  border-radius: 0.5vw;
  box-shadow: 0 0.2vw 0.5vw rgba(0, 0, 0, 0.1);
}

h2 {
  font-size: 1.5vw;
  color: #2e2e2e;
  text-align: center;
  margin-bottom: 1.5vw;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1vw;
}

input {
  font-family: Poppins-Regular;
  font-size: 1vw;
  border: 0.1vw solid #2e2e2e;
  border-radius: 0.3vw;
  padding: 0.5vw 1vw;
  transition: border-color 0.3s ease;

  &:focus {
    outline: none;
    border-color: var(--rustyred);
  }
}

button {
  width: 100%;
  background-color: #ca2736;
  border: none;
  border-radius: 0.3vw;
  padding: 0.8vw 0;
  color: #fff;
  font-size: 1vw;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #8A1015;
  }
}

p {
  text-align: center;
  margin-top: 1.5vw;
  font-size: 1vw;

  a {
    color: var(--rustyred);
    text-decoration: none;
    transition: color 0.3s ease;

    &:hover {
      color: var(--carbon);
    }
  }
}
